:root{
    --azul-oscuro: #333a56;
    --azul-claro: #52658F;
    --white: #f5f5f5;
    --beige: #f7f5e6;
}

.nav-enlace-footer{
    text-decoration: none;
    color: white;
}

.nav-enlace{
    text-decoration: none;
    display: inline-block;
    padding: 25px 15px;
    margin-right: 20px;
    color:var(--white);
}


nav{
    text-decoration: none;
    padding: 5px 5px;
    /* background-color: var(--azul-claro); */
    display: flex;
    justify-content: right;
}
.nav-enlace:hover{
    font-size: 18px;
    font-weight:bold;
    /* background: var(--azul-claro); */
}


.nav-menu{
    text-decoration: none;
    display: none;
    background: var(--azul-oscuro);
    color:var(--white);
    padding: 10px 30px;
    border: #333a56;
}
.nav-menu:hover{
    text-decoration: none;
    cursor: pointer;
}

@media (max-width: 700px){
    nav{
        flex-direction: column;
    }
    .nav-enlace{
        margin: 2px 0px;
    }
    .nav-menu{
        margin: 2px 0px;
        display: inline-block;
    }
    .nav-desaparece{
        display: none;
    }
    .img-logo{
        display: none;
    }
}
